# Assignment: Data Wrangling
## Frances Dai
## fad4yr
## Q1 and Q3

**Q1.** Open the "tidy_data.pdf" document in the repo, which is a paper called Tidy Data by Hadley Wickham.

  1. Read the abstract. What is this paper about?

    This paper is about data tidying and how it is an important step in data cleaning in making the later analysis as efficient and accurate as possible. He lays out a framework for datasets that are tidy and explains how keeping a consistent, maintained data structure is advantageous.
  
  2. Read the introduction. What is the "tidy data standard" intended to accomplish?

    The tidy data standard attempts to make the data cleaning process (which takes up a lot of time in the entire data analysis process) easier by structuring datasets in a manageable way to facilitate better data analysis later on. It provides a standard way to organize data and make initial data cleaning easier.

  3. Read the intro to section 2. What does this sentence mean: "Like families, tidy datasets are all alike but every messy dataset is messy in its own way." What does this sentence mean: "For a given dataset, itâ€™s usually easy to figure out what are observations and what are variables, but it is surprisingly difficult to precisely define variables and observations in general."

    The first sentence means that while tidy datasets are organized in a standardized way and all similar in structure which makes them easy to navigate, messy datasets can have a breadth of different challenges associated with them and often all come with unique obstacles.
    The second sentence means that while it may seem intuitive that variables are columns and rows are observations, it may be actually confusing when looking at individual data points/columns/rows to fully understand what metrics the data is defined by, despite understanding the idea of a data table. Sometimes the full understanding of variables and observations are not clear because there are many different levels of observation, confusing organization, unclear variable names etc.

  4. Read Section 2.2. How does Wickham define values, variables, and observations?

    Values are usually either numbers or strings.
    Variables contain all values that measure the same attribute/property across units.
    An observation is all values measured on the same unit across attributes.

  5. How is "Tidy Data" defined in section 2.3?

    Tidy data is defined as a standard way of mapping the meaning of a dataset to its structure. In tidy data, each variable is a column, each observation is a row, and each type of observational unit forms a table.

  6. Read the intro to Section 3 and Section 3.1. What are the 5 most common problems with messy datasets? Why are the data in Table 4 messy? What is "melting" a dataset?

    The five most common problems are:
    1. Column headers are values, not variable names.
    2. Multiple variables are stored in one column.
    3. Variables are stored in both rows and columns.
    4. Multiple types of observational units are stored in the same table.
    5. A single observational unit is stored in multiple tables.
    
    In Table 4, the data is messy because of the 1st common problem -- the columns are values of income instead of a variable name i.e. "income". Melting a database is turning the columns to rows.

  7. Why, specifically, is table 11 messy but table 12 tidy and "molten"?

    Table 11 is messy because there is a column for every single day in the month (a value) instead of a variable name. Table 12 turns the days columns into a single data column. It is almost tidy, but instead of values, the element variable contains variable names (problem 3). It becomes tidy when you turn the element and value columns into separate tmax and tmin columns with their own values instead of variables in the columns.

  8. Read Section 6. What is the "chicken-and-egg" problem with focusing on tidy data? What does Wickham hope happens in the future with further work on the subject of data wrangling?
  
    The chicken-and-egg problem is if tidy data is only as useful as the tools that work with it, then tidy tools will be always linked to tidy data. There might come a point where changing tidy data or its tools does not result in any improvement. So, to always improve on data cleaning workflow, Wickham hopes that tidy data framework is one of many other data storage strategies and tools.

**Q2.** This question provides some practice cleaning variables which have common problems.
1. Numeric variable: For `./data/airbnb_hw.csv`, clean the `Price` variable as well as you can, and explain the choices you make. How many missing values do you end up with? (Hint: What happens to the formatting when a price goes over 999 dollars, say from 675 to 1,112?)

When a price went over 999, it became comma separated so the price variable was not stored as a numeric type and it was stored as a string instead. I cleaned it by converting it to a numeric type by first removing the commas. There were no missing values

2. Categorical variable: For the `./data/sharks.csv` data covered in the lecture, clean the "Type" variable as well as you can, and explain the choices you make.

Replaced all watercraft attacks into just one watercraft variable i.e. watercraft, sea disaster, boating, boatomg, boat were all grouped together.
Replaced all Unconfirmed, Unverified and Under investigation types into np.nan

3. Dummy variable: For the pretrial data covered in the lecture, clean the `WhetherDefendantWasReleasedPretrial` variable as well as you can, and, in particular, replace missing values with `np.nan`.

4. Missing values, not at random: For the pretrial data covered in the lecture, clean the `ImposedSentenceAllChargeInContactEvent` variable as well as you can, and explain the choices you make. (Hint: Look at the `SentenceTypeAllChargesAtConvictionInContactEvent` variable.)

In [106]:
# 1

import pandas as pd
import numpy as np

df = pd.read_csv('./data/airbnb_hw.csv', low_memory=False)
price = df['Price']

#df.head()
#price.unique()

print('Before coercion: \n', df['Price'].describe(),'\n')

# all the prices are  read as a string bc prices over 999 are comma-separated
price = price.str.replace(',','') #remove commas
price = pd.to_numeric(price,errors='coerce') # turn price vars to numeric
print("total null = ", sum(price.isnull())) # total null values

Before coercion:
 count     30478
unique      511
top         150
freq       1481
Name: Price, dtype: object

total null =  0

In [107]:
# 2

sharks = pd.read_csv('./data/sharks.csv', low_memory=False)
sharks.head()

,index,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,...,Unnamed: 246,Unnamed: 247,Unnamed: 248,Unnamed: 249,Unnamed: 250,Unnamed: 251,Unnamed: 252,Unnamed: 253,Unnamed: 254,Unnamed: 255
0,0,2020.02.05,05-Feb-2020,2020.0,Unprovoked,USA,Maui,NaN,Stand-Up Paddle boarding,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2020.01.30.R,Reported 30-Jan-2020,2020.0,Provoked,BAHAMAS,Exumas,NaN,Floating,Ana Bruna Avila,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2020.01.17,17-Jan-2020,2020.0,Unprovoked,AUSTRALIA,New South Wales,Windang Beach,Surfing,Will Schroeter,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,2020.01.16,16-Jan-2020,2020.0,Unprovoked,NEW ZEALAND,Southland,Oreti Beach,Surfing,Jordan King,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,2020.01.13,13-Jan-2020,2020.0,Unprovoked,USA,North Carolina,"Rodanthe, Dare County",Surfing,Samuel Horne,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [108]:
print(sharks['Type'].unique(), '\n')


sharks['Type'].value_counts() #count diff values for each 'type' variable

['Unprovoked' 'Provoked' 'Questionable' 'Watercraft' 'Unconfirmed'
 'Unverified' 'Invalid' 'Under investigation' 'Boating' 'Sea Disaster' nan
 'Boat' 'Boatomg']

Unprovoked             4716
Provoked                593
Invalid                 552
Sea Disaster            239
Watercraft              142
Boat                    109
Boating                  92
Questionable             10
Unconfirmed               1
Unverified                1
Under investigation       1
Boatomg                   1
Name: Type, dtype: int64

In [109]:
sharks['Type'] = sharks['Type'].replace(['Invalid', 'Questionable','Unconfirmed','Unverified','Under investigation'],np.nan)
#replacing all unclean values w/ nan

sharks['Type'].value_counts()

Unprovoked      4716
Provoked         593
Sea Disaster     239
Watercraft       142
Boat             109
Boating           92
Boatomg            1
Name: Type, dtype: int64

In [110]:
sharks['Type'] = sharks['Type'].replace(['Boat','Boating', 'Sea Disaster','Boatomg'],'Watercraft') # grouping together all watercraft variables
sharks['Type'].value_counts()

Unprovoked    4716
Provoked       593
Watercraft     583
Name: Type, dtype: int64

In [111]:
# 3
url = 'http://www.vcsc.virginia.gov/pretrialdataproject/October%202017%20Cohort_Virginia%20Pretrial%20Data%20Project_Deidentified%20FINAL%20Update_10272021.csv'
df = pd.read_csv(url, low_memory=False)
df.head()

,InternalStudyID,REQ_REC#,Defendant_Sex,Defendant_Race,Defendant_BirthYear,Defendant_Age,Defendant_AgeGroup,Defendant_AgeatCurrentArrest,Defendant_AttorneyTypeAtCaseClosure,Defendant_IndigencyStatus,...,NewFelonySexualAssaultArrest_OffDate,NewFelonySexualAssaultArrest_ArrestDate,NewFelonySexualAssaultArrest_DaysBetweenContactEventandOffDate,NewFelonySexualAssaultArrest_DaysBetweenOffDateandArrestDate,NewFelonySexualAssaultArrest_DaysBetweenReleaseDateandOffDate,NewFelonySexualAssaultArrest_Disposition,Intertnalindicator_ReasonforExcludingFromFollowUpAnalysis,CriminalHistoryRecordsReturnedorCMSRecordsFoundforIndividual,DispRecordFoundforChargesinOct2017Contact_Atleast1dispfound,CrimeCommission2021ReportClassificationofDefendants
0,ADI00001,1,M,W,1986,31,3,31,99,99,...,,,,999,999,,4,1,0,Defendant could not be classified or tracked d...
1,ADI00007,3,M,B,1956,60,6,60,9,9,...,,,,999,999,,5,1,1,Defendant Detained Entire Pre-Trial Period_Und...
2,ADI00008,4,M,W,1990,27,3,27,9,9,...,,,,999,999,,5,1,1,Defendant Detained Entire Pre-Trial Period_Und...
3,CDI00036,6,M,B,1989,27,3,27,0,0,...,,,,999,999,,5,1,1,Defendant Detained Entire Pre-Trial Period_Und...
4,CDI00038,7,F,W,1988,28,3,28,0,0,...,,,,999,999,,0,1,1,New criminal offense punishable by incarcerati...

In [112]:
rel = df['WhetherDefendantWasReleasedPretrial'] #boolean variable indicating whether defendant was released pretrial
# 1 indicates yes, #0 indicates no
print(rel.unique(),'\n')
print(rel.value_counts(),'\n') #9 is insufficient missing info

[9 0 1]

1    19154
0     3801
9       31
Name: WhetherDefendantWasReleasedPretrial, dtype: int64

In [113]:
rel = rel.replace(9,np.nan) #replaced missing values '9' with np.nan
print("Missing Values:", sum(rel.isnull())) # there are 31 missing values
df['WhetherDefendantWasReleasedPretrial'] = rel # set data frame column with updated values that are clean
print(df['WhetherDefendantWasReleasedPretrial'].value_counts(),'\n')

Missing Values: 31
1.0    19154
0.0     3801
Name: WhetherDefendantWasReleasedPretrial, dtype: int64

In [114]:
# 4
sen = df['ImposedSentenceAllChargeInContactEvent']
type = df['SentenceTypeAllChargesAtConvictionInContactEvent']
#print( sen.unique()) has missing values with blank space
print (type.unique())
print (type.value_counts())

[9 0 1 4 2]
4    8779
0    8720
1    4299
2     914
9     274
Name: SentenceTypeAllChargesAtConvictionInContactEvent, dtype: int64

In [115]:
sen = pd.to_numeric(sen,errors='coerce') # coerce to numeric
print(sen.describe(),'\n')
missing = sen.isnull()
print(np.sum(missing)) #there are 9053 missing values

count    13933.000000
mean        19.899671
std         63.571627
min          0.000000
25%          0.000000
50%          2.000000
75%         12.000000
max       2208.000000
Name: ImposedSentenceAllChargeInContactEvent, dtype: float64

9053

In [116]:
print( pd.crosstab(missing, type), '\n')
# code 4 means charges are dismissed
# 9 means insufficient data

SentenceTypeAllChargesAtConvictionInContactEvent     0     1    2     4    9
ImposedSentenceAllChargeInContactEvent
False                                             8720  4299  914     0    0
True                                                 0     0    0  8779  274

In [117]:
sen = sen.mask(type == 9, np.nan) # replace with np.nan for category 9
sen = sen.mask(type == 4, 0) # Replace with a 0 for category 4

In [118]:
print(pd.crosstab(sen.isnull(), type), '\n')

print(np.sum(sen.isnull()),'\n') #274 missing values instead of 9053

df['ImposedSentenceAllChargeInContactEvent'] = sen # update dataframe with cleaned version

SentenceTypeAllChargesAtConvictionInContactEvent     0     1    2     4    9
ImposedSentenceAllChargeInContactEvent
False                                             8720  4299  914  8779    0
True                                                 0     0    0     0  274

274